/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1.2em;
    line-height: 1.4;
     background: radial-gradient(ellipse at center, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.65) 100%),
     url(https://lh5.googleusercontent.com/-ZLYUXh2ekPI/U3JXjFpqIOI/AAAAAAAAS00/1vHx0JVlxww/w2234-h1258-no/bg1.png),
      no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
 
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {font-family:
    'RaphaelIcons';
    src:
    url('../fonts/raphaelicons-webfont.eot');
    src:
    local('☺'), url('../fonts/raphaelicons-webfont.woff') format('woff'), url('../fonts/raphaelicons-webfont.ttf') format('truetype'), url('../fonts/raphaelicons-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.icon {
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    font-family: 'RaphaelIcons';
    font-size: 1.3em;
    position: relative;
    top: 0.1em;
    margin: 0px 5px 0px 5px;
}
body {
    font-family: 'jura', sans-serif;
    font-weight: 600;
    color: yellow;
}  
.image {
    border: 2px solid #8FC31F;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
}

/* Navigation */


header {
     display: inline-block;
     padding-left: 40px; 
}
header a {
    text-decoration: none; 
    font-size: 3.7em;;
    font-family: 'Fontdiner Swanky', sans-serif;
    color: yellow;
    text-shadow: black 2px 3px;
}
header a:hover {
    text-shadow: black 3px 4px;
    color: white;
}
#navContainer {
    border-bottom: solid 2px #585451;
    background-color: rgba(96, 96, 96,.8);
}
#navLeft {
    display: inline-block;
    float: left;
}
#navRight {
    display: inline-block;
    float: right;
    padding-right: 40px;
}
nav {
    padding-top: 20px;
    margin: 0px auto;
    width: 825px;
}
.navButton {
    display: inline-block;
}
.navButton a {
    text-decoration: none;
    font-size: 1.5em;
    color: #8FC31F;
    text-shadow: black 0 1px 1px;
}
.navButton a:hover {
    color: white;
    text-shadow: black 0 3px 1px;
}
.navButton a:active {
    color: yellow;
    text-shadow: black 0 1px 1px;
}

/* Main */

a {
    color: #8FC31F;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: white;
}

container {

}
main {
    margin: 0 auto;
    height: 500px;
    width: 800px;
    padding: 20px 40px 20px 40px;
    margin-top: 50px;
    border: solid 2px #585451;
    border-radius: 5px;
    background-color: rgba(96, 96, 96,.8);
}
article {
    width: 450px;
    text-align: justify;
    float: left;
}
p {
    color: #0FA9F0;
    text-shadow: black 0 1px 1px;
}
li a {
    text-decoration: none;
    color: #8FC31F;
    font-size: 1em;
    text-shadow: black 0 1px 1px;
}
li a:hover {
    color: white;
}
ul li p {
    padding-left: 15px;
}
h1 {
    font-size: 1.5em;
    text-shadow: black 0 1px 1px;
}
h2 {
    font-size: 1.4em;
    text-shadow: black 0 1px 1px;
}
h3 {
   font-size: 1.3em;
    text-shadow: black 0 1px 1px;
    color: yellow; 
    border-bottom: 2px solid #8FC31F;
    box-shadow: black 0 1px 0px;
}
#me {
    background-image: url("../img/legome.png");
    height: 300px;
    width: 300px;
    float: right;
    background-position: center;
}

/* Skills */

#skillsContainer {
    margin: 0 auto;
    background-color: rgba(96, 96, 96,.8);
    min-height: 400px;
    width: 800px;
    padding: 20px 40px 20px 40px;
    overflow: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    border: solid 2px #585451;
    border-radius: 5px;
}
#skillsArticle {
    
}
.column {
    display: block;
    float: left;
    width: 100%;
    margin: 0px 0px 20px 0px;
    text-align: justify;
}
.columnInner {
    display: block;
    float: left;
    width: 100%;
    text-align: justify;
}

.columnSmall {
    display: inline-block;
    float: left;
    text-align: justify;
    margin-right: 15px;
}
.columnSmL {
    display: inline-block;
    float: left;
    width: 450px;
}
.columnSmR {
    display: inline-block;
    width: 450px;
    float: right;
    text-align: justify;
}
.column iframe {
    margin: 0px 0px 0px 100px;
    border: 2px solid #8FC31F;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
}
.thumbs {
    height: 100px;
    width: 100px;
    float: left;
    border: 2px solid #8FC31F;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
}
.thumbs:hover {
    border: 3px solid yellow;
    height: 98px;
    width: 98px;
    box-shadow: 3px 3px 3px black;
}
.thumbs:hover::before {
}
.thumbs:hover::after {
    color: #0FA9F0;
    padding-left: 6px;
    text-shadow: black 0 1px 1px;
}
#thumb1 {
    background-image: url("../img/webthumb.png");
}
#thumb1:hover::after {
    content: "Web";
}
#thumb2 {
    background-image: url("../img/sharkthumb.png");
}
#thumb2:hover::after {
    content: "Brand"; 
}
#thumb3 {
    background-image: url("../img/tacothumb.png");
}
#thumb3:hover::after {
    content: "T-Shirts";
}
#thumb4 {
    background-image: url("../img/tacothumb.png");
}
#thumb4:hover::after {
    content: "GFX";
}
#thumb5 {
    background-image: url("../img/tvthumb.png");
}
#thumb5:hover::after {
    content: "TV";
}
#thumb6 {
    background-image: url("../img/filmthumb.png");
}
#thumb6:hover::after {
    content: "Film";
}

/*Exohelix*/

#exoimg1 {
 background-image: url("../img/exologo.png");
 background-position: center; 
 height: 200px;
 width: 300px;
}
#web2 {
    background-image: url("../img/web2.png");
    background-position: center;
    height: 200px;
    width: 300px;
}
#exoweb {
    background-image: url("../img/exosite.png");
    background-position: ;
    height: 200px;
    width: 300px;
}

/*Logos*/
#makoimg {
    background-image: url("../img/shark.png");
    background-color: black;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 300px;
}
/*t-shirts*/
#chximg {
    background-image: url("../img/chximg.png");
    height: 200px;
    width: 300px;
}
#cooperimg {
    background-image: url("../img/bgcooper.svg");
    background-size: contain;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 300px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
